/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'RobotoLightItalic';
  src: url('../fonts/Roboto-LightItalic.ttf')  format('truetype');
}

html, body{
	height: 100%;
	width: 100%;
}

.main{
	display: block;
	height: 100%;
	width: 100%;
}

.slides{
	display: block;
	min-height: 100%;
}

.bx-viewport, .bx-wrapper{
    position:relative;
    width:100%;
    height:100% !important;
    top:0;
    left:0;
		    border: none !important;
}

.item{
  height: 100% !important;
	position: relative!important;
	display: inline-block;
	min-height: 1080px!important;
}

.item > .image{
	display: block;
	bottom:0;
	top: 0;
	position: absolute;
	min-height: 105%!important;
	min-width: 105%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.item > .effect{
	margin-bottom: -100px;
	opacity: 0.2;
	display: block;
	bottom:0;
	top: 0;
	position: absolute;
	min-height: 100%!important;
	min-width: 100%;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.first-item{
	background-color: #559591;
}

.parallax{
	box-sizing: border-box;
	z-index: 1;
	color: #fff;
	clear: both;
	width: 100%;
}

.heading{
	margin-top: 20px;
	display: inline-block;
	float: none;
	width: auto;
	position:relative;
	padding: 5px;
	z-index: 999;

}

.subheading{
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
}

h1{
	float: left;
	width: 100%;
	font-family: 'RobotoLight', sans-serif;
	font-size: 8em;
	font-weight: normal;
  text-shadow: 4px 4px #000000;
	z-index: 2;
}

h2{
	float: left;
	width: 100%;
	font-family: 'RobotoLightItalic', sans-serif;
	font-size: 2.6em;
	font-weight: normal;
	text-shadow: 4px 4px #000000;
	z-index: 1;
}

.underline{
	text-decoration: underline;
}

.center	{
	position: relative;
	top: 400px;
	text-align: center;
}

.top{
	position: relative;
	top: 0px!important;
}

.left{
	position: relative;
	text-align: left;
	left: 40px;
}

.right{
	position: relative;
	text-align: right;
	right: 40px;
}

.bottom{
	top: 760px!important;
	position: relative;
	bottom: 0!important;
}

.smoke1{
	background-image:url(../img/effect/smoke1.png);
}

.smoke2{
	background-image:url(../img/effect/smoke2.png);
}

.shatter1{
	background-image:url(../img/effect/shatter1.png);
}

.shatter2{
	background-image:url(../img/effect/shatter2.png);
}

.dust1{
	background-image:url(../img/effect/dust1.png);
}

.dust2{
	background-image:url(../img/effect/dust2.png);
}


.dustGray1{
	background-image:url(../img/effect/dust1_gray.png);
}

.dustGray2{
	background-image:url(../img/effect/dust2_gray.png);
}

.fog1{
	background-image:url(../img/effect/fog1.png);
}

.fog{
	background-image:url(../img/effect/fog2.png);
}

.powder1{
	background-image:url(../img/effect/powder1.png);
}

.powder2{
	background-image:url(../img/effect/powder2.png);
}
